<footer class="footer pt-100 img-bg" style="background-image: url(assets/img/common-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer-widget mb-60 wow fadeInLeft" data-wow-delay=".2s">
                    <a href="index.html" class="logo mb-40"><img  src="assets/img/bottom.svg" alt=""></a>
                    <p class="mb-30">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore.</p>
                    <div class="footer-social-links">
                        <ul>
                            <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
                            <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                            <li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6">
                <div class="footer-widget mb-60 wow fadeInUp" data-wow-delay=".4s">
                    <h4>Company</h4>
                    <ul class="footer-links">
                        <li>
                            <a href="javascript:void(0)">Home</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">About</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Service</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Team</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget mb-60 wow fadeInUp" data-wow-delay=".6s">
                    <h4>Resource</h4>
                    <ul class="footer-links">
                        <li>
                            <a href="javascript:void(0)">Documentation</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">IOS & Android Apps</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Support Forum</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Terms Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget mb-60 wow fadeInRight" data-wow-delay=".8s">
                    <h4>Resource</h4>
                    <ul>
                        <li class="mb-30">
                            <p><u>Team Name</u><br>The Cryptonites <br>
                               </p>
                        </li>
                        <li>
                            <p>MNNIT ALLAHABAD</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <p class="mb-0 text-white text-center">Made by Team Cryptonites </p>
        </div>
    </div>
</footer>
<!-- ========================= footer end ========================= -->


<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
    <i class="lni lni-chevron-up"></i>
</a>

<!-- ========================= JS here ========================= -->
<script src="assets/js/bootstrap.bundle-5.0.0.alpha-1-min.js"></script>
<script src="assets/js/contact-form.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>