<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="658161400052-6bmotko4se9kti3cco47kniufr5cv9kn.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
    <h1>Login</h1>
    <a href="#" onclick="signOut();">Sign out</a>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    </form>
    <script>
        function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/google');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
        console.log('Signed in as: ' + xhr.responseText);
        if(xhr.responseText == 'success')
        {
            signOut();
            location.assign('/');
        }
        };
        xhr.send(JSON.stringify({token: id_token}));
        }
    </script>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
        }
</script>
<script>
    alert("{{ danger }}");
</script>
    <a href="/register">Register here</a>
</body>
</html>