<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-check fa-6x"></i>
    <h1 class="display-3">Payment successful !</h1>
    <p class="secret-text"></p>
    <hr>
  </div>
</div>

<%- include('partials/footer') %>
